@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  overflow: hidden;
}

.nopointer {
  pointer-events: none;
}

body {
  margin: 0;
  font-size: 26px;
  color: #ffffff;
  height: 100vh;
  perspective: 1px;
  transform-style: preserve-3d;
  overflow-x: hidden;
  overflow-y: auto;
}

canvas {
  background: #232323;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: auto;
  z-index: -1;
  image-rendering: optimizeQuality;
  display: flex;
}

.navbar {
  z-index: 100;
}

/* TYPEWRITER */

.typewriter {
  display: inline-block;
}

.typewriter-text {
  border-right: 3px solid;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  animation: typing 6s linear, borderFadeLoop 4s ease-in-out infinite;
}

@keyframes borderFadeLoop {
  0% {
    border-right: 3px solid transparent;
  }
  25% {
    border-right: 3px solid white;
  }
  50% {
    border-right: 3px solid transparent;
  }
  75% {
    border-right: 3px solid white;
  }
  100% {
    border-right: 3px solid transparent;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/**/
