@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

html {
  overflow: hidden;
}

.nopointer {
  pointer-events: none;
}

body {
  margin: 0;
  font-size: 26px;
  color: #000000;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;

  --dot-bg: black;
  --dot-color: white;
  --dot-size: 1px;
  --dot-space: 22px;
  background: linear-gradient(
        90deg,
        var(--dot-bg) calc(var(--dot-space) - var(--dot-size)),
        transparent 1%
      )
      center / var(--dot-space) var(--dot-space),
    linear-gradient(
        var(--dot-bg) calc(var(--dot-space) - var(--dot-size)),
        transparent 1%
      )
      center / var(--dot-space) var(--dot-space),
    var(--dot-color);
}

canvas {
  background-color: transparent;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: auto;
  z-index: -1;
  image-rendering: optimizeQuality;
  display: flex;
}

.gradient-title {
  background: #ffffff;
  background: linear-gradient(to bottom right, #ffffff 0%, #797979 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar .navbar-nav {
  display: flex;
  justify-content: center;
  width: 100%;
}

.navbar .navbar-collapse {
  text-align: center;
}

.no-underline {
  text-decoration: none;
}

.navbar {
  z-index: 100;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fade-in {
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-fill-mode: forwards; /* Keeps the element at the state of the last keyframe after animation ends */
}

.fade-out {
  animation-name: fadeOut;
  animation-duration: 1s;
  animation-fill-mode: forwards; /* Keeps the element at the state of the last keyframe after animation ends */
}

/* TYPEWRITER */

.typewriter {
  display: inline-block;
}

.typewriter-text {
  border-right: 3px solid;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  animation: typing 4s cubic-bezier(0.25, 0.5, 0.68, 0.89),
    borderFadeLoop 4s ease-in-out infinite;
}

@keyframes borderFadeLoop {
  0% {
    border-right: 3px solid transparent;
  }
  25% {
    border-right: 3px solid white;
  }
  50% {
    border-right: 3px solid transparent;
  }
  75% {
    border-right: 3px solid white;
  }
  100% {
    border-right: 3px solid transparent;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* EXPERIENCE */

.timeline {
  position: relative;
  margin: 0;
  padding: 0;
}

.timeline > ul {
  list-style: none;
  padding: 0;
}

.timeline > ul > li {
  position: relative;
  padding-left: 20px;
  margin-bottom: 6vh;
}

.timeline > ul > li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 10px;
  height: 10px;
  background-color: #db3434;
  border-radius: 50%;
  z-index: 1;
}

.timeline > ul > li::after {
  content: "";
  position: absolute;
  left: 4px;
  top: 10px;
  width: 2px;
  height: calc(100% - 10px);
  background-color: #db3434;
  z-index: 0;
}

.timeline > ul > li:last-child::after {
  display: none;
}

.timeline ul ul {
  list-style: disc;
  padding-left: 40px; /* or adjust as needed */
  margin-bottom: 0;
}

.timeline ul ul li {
  position: static; /* Reset the position */
  padding-left: 0; /* Remove left padding */
  margin-bottom: 0; /* Remove bottom margin */
}

.timeline ul ul li::before,
.timeline ul ul li::after {
  content: none; /* Remove the pseudo-elements */
}

/* PROJECTS */

.project-card {
  background-color: rgba(15, 15, 15, 0.8);
  border-radius: 20px;
}

.zoom {
  transition: transform 0.75s ease-in-out;
}

.zoom:hover {
  transform: scale(1.025);
}

/* ANIMATIONS */
@media screen and (min-width: 768px) {
  .fade-left-desktop,
  .fade-right-desktop {
    opacity: 0;
    transition: 1500ms all ease-in-out;
  }
  .fade-left-desktop {
    transform: translateX(50px);
  }
  .fade-right-desktop {
    transform: translateX(-50px);
  }
  .fade-left-desktop.animate,
  .fade-right-desktop.animate {
    opacity: 1;
    transform: translateX(0);
  }
  .fade-desktop {
    opacity: 1;
    transition: 1000ms all ease-in-out;
  }

  .fade-down-desktop,
  .fade-up-desktop {
    opacity: 0;
    transition: 1000ms all cubic-bezier(0.05, 0.75, 0.21, 0.97);
    transform: translateY(20px);
  }
  .fade-up-desktop {
    transform: translateY(50px);
  }
  .fade-down-desktop {
    transform: translateY(-50px);
  }
  .fade-down-desktop.animate,
  .fade-up-desktop.animate {
    opacity: 1;
    transform: translateY(0);
  }
}
@media screen and (max-width: 767px) {
  .fade-down-mobile,
  .fade-up-mobile {
    opacity: 0;
    transition: 1500ms all ease-in-out;
  }
  .fade-up-mobile {
    transform: translateY(50px);
  }
  .fade-down-mobile {
    transform: translateY(-50px);
  }
  .fade-down-mobile.animate,
  .fade-up-mobile.animate {
    opacity: 1;
    transform: translateY(0);
  }
  .fade-mobile {
    opacity: 0;
    transition: 1000ms all ease-in-out;
  }
  .fade-mobile.animate {
    opacity: 1;
  }
}

.bouncing {
  position: relative;
  animation: bounce 3s cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(3px);
  }
  25% {
    transform: translateY(-3px);
  }
  50% {
    transform: translateY(3px);
  }
  75% {
    transform: translateY(-3px);
  }
}

.social-media-icons a {
  color: white;
  transition: color 0.3s ease;
}

.social-media-icons a:hover {
  color: #0077b5;
}

.social-media-icons a:hover:nth-child(2) {
  color: #333;
}

.social-media-icons a:hover:nth-child(3) {
  color: #e1306c;
}
